@font-face {
    font-family: RobotoMono;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, blue, black);
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    color: white;
    font-family: RobotoMono;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    position: absolute;
    top: 0;
    width: 100%;
}

.backBtn{
        color: white;
        font-family: RobotoMono;
        text-decoration: none;
        cursor: pointer;
        padding-left: 30px;
        padding-top: 30px;
}

.backBtn:hover{
    color: red;
}

.imprintClass{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border: 2px, solid;
        border-radius: 15px;
        padding: 20px;
        padding-top: 0;
}