@font-face {
    font-family: RobotoMono;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}

html, body {
    height: 100%;
    overflow-y: hidden; /* verhindert vertikale Scrollbar */
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, blue, black);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    color: white;
    font-family: RobotoMono;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imprintLink {
    color: white;
    text-decoration: none;
}
.imprintLink:hover{
    text-decoration:underline ;
}

.logo {
    max-width: 500px;
    max-height: 500px;
    height: 100%;
    width: 100%;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.downloadImg {
    cursor: not-allowed;
}

/*------------------------ Media-Querry ----------------------*/

/* @media(max-width: 650px){
    .logo{
        max-width: 0px;
        max-height: 300px;
    }
} */